# ==========================================
# Глобальний .gitignore для курсу ЗПАД 
# ==========================================

# --- Теки збірки та компіляції (C++ / Python) ---
bin/
build/
x64/
Debug/
Release/
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
env/

# --- Кеш та приватні налаштування IDE ---
.idea/
.vscode/
.vs/
*.swp
*.swo
*.user
*.suo
*.db
*.opendb

# --- Системне сміття (Windows / macOS) ---
Thumbs.db
desktop.ini
.DS_Store

# --- Тимчасові файли та звіти компіляції ---
*.obj
*.ilk
*.pdb
*.tlog
*.lastbuildstate
*.log

# --- Динамічні файли, медіа та важкі датасети ---
# Виключаємо великі бінарні моделі, відео та логи
*.caffemodel
*.MOV
*.mp4
*.log

# Якщо у майбутніх лабах файли даних будуть великими або динамічними:
# *.txt
# *.csv
# *.json
